table {
  text-align: center;
  margin: 0 auto !important;
}

tr {
  height: 40px;
  line-height: 40px !important;
  border-bottom: 2px solid black !important;
}

th {
  width: 500px;
}

th:first-child {
  width: 50px;
}

th:last-child {
  width: 120px;
}

td {
  padding: 0 5px !important;
}
