table {
  width: 100%;
  text-align: center;
}

tr {
  height: 40px;
  line-height: 40px !important;
  border-bottom: 2px solid black !important;
}

td {
  padding: 0 5px !important;
}

.notice-table {
  text-align: right;

  th:first-child {
    width: 50px;
  }
  th:last-child {
    width: 120px;
  }
}

.q-table {
  text-align: right;

  th:first-child {
    width: 70%;
  }
  th:nth-child(2) {
    width: 10%;
  }
  th:last-child {
    width: 20%;
  }
}
