.section-one {
  height: 100vh;
  padding-top: var(--header-height);

  .container {
    height: inherit;
  }

  .d-flex {
    height: inherit;
    gap: 80px;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-bottom: var(--base-space);
      color: var(--color-green);

      span {
        color: black;
        font-size: 20px;
        margin-left: var(--base-space);
      }
    }

    h3 {
      margin-bottom: calc(var(--base-space) * 2);
    }

    button {
      cursor: pointer;
      border: 2px solid var(--color-green);
      border-radius: 10px;
      padding: 8px 16px;
    }

    .guide {
      background-color: white;
      margin-right: calc(var(--base-space) * 2);
    }

    .guide:hover {
      color: white;
      background-color: var(--color-green);
    }

    .classroom {
      color: white;
      background-color: var(--color-green);
    }

    .classroom:hover {
      color: black;
      background-color: white;
    }
  }

  img {
    width: 50%;
  }
}
