.login-form {
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;

  .box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: calc(var(--base-space) * 7) calc(var(--base-space) * 4);
  }

  img {
    width: 130px;
    margin-bottom: calc(var(--base-space) * 3);
  }

  .menu span {
    font-size: var(--small-text);
  }
}
